/* ---------- Labels ---------- */

$label-circle-border-radius: 20px;
$label-rounded-border-radius: 3px;
$label-square-border-radius: 0;

$label-entry-bg: #FFF;
$label-entry-border-color: #000;
$label-entry-border-width: 1px;
$label-entry-button-height: $input-height-base;
$label-entry-button-width: $input-height-base;
$label-entry-color: #000;
$label-entry-font-size: 14px;
$label-entry-padding: 0 0 0 12px;

/* ---------- List group ---------- */

$list-group-heading-bg: #F8F8F8;

$list-group-border-radius: 4px;

$list-group-item-danger-color: #FF387A;
$list-group-item-default-color: #9CA4AC;
$list-group-item-info-color: #577ED2;
$list-group-item-primary-color: #D437EF;
$list-group-item-success-color: #26C0BE;
$list-group-item-warning-color: #FF6C58;

/* ---------- Toggle card ---------- */

$toggle-card-height: 104px;
$toggle-card-width: 92px;

$toggle-card-padding-horizontal: 12px;
$toggle-card-padding-vertical: 12px;

$toggle-card-border-radius: 2px;

$toggle-card-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);

$toggle-card-icon-border-radius: 30px;
$toggle-card-icon-height: 32px;
$toggle-card-icon-width: 32px;

$toggle-card-border: #DCE0E3;
$toggle-card-border-width: 1px;
$toggle-card-icon-bg: #FFF;
$toggle-card-icon-border: #869CAD;
$toggle-card-icon-border-width: 0;

$toggle-card-on-border: #65B6F0;
$toggle-card-on-border-width: 2px;
$toggle-card-on-icon-bg: #FFF;
$toggle-card-on-icon-border: #65B6F0;
$toggle-card-on-icon-border-width: 0;

/* ---------- Switches ---------- */

$toggle-switch-bar-padding: 0;
$toggle-switch-button-width: 25px;

$toggle-switch-bar-height: ($toggle-switch-bar-padding * 2) + $toggle-switch-button-width;
$toggle-switch-bar-width: 50px;

$toggle-switch-bar-border-radius: 3px;
$toggle-switch-button-border-radius: 3px;
$toggle-switch-button-off-border-radius: 3px 0 0 3px;
$toggle-switch-button-on-border-radius: 0 3px 3px 0;

$toggle-switch-bar-border-width: 1px;
$toggle-switch-bar-font-size: 12px;
$toggle-switch-button-border-width: 1px;
$toggle-switch-button-font-size: $toggle-switch-bar-font-size;

$toggle-switch-bar-bg: $input-group-addon-bg;
$toggle-switch-bar-border-color: $input-group-addon-border-color;
$toggle-switch-bar-icon-color: $input-color;
$toggle-switch-button-bg: $input-bg;
$toggle-switch-button-border-color: $input-group-addon-border-color;
$toggle-switch-button-icon-color: $input-color;

/* ---------- Cards ---------- */

$card-border-radius: 20px;
$card-box-shadow: 0 0 1px #AAA;
$card-circle-border-radius: 20px;
$card-rounded-border-radius: 5px;
$card-square-border-radius: 0;

$card-divider-border-top: 1px solid #DDD;
$card-divider-margin: 10px;

$card-row-padded-padding: 10px;

$extend-cards-control-panel-background-color: #F8F8F8;
$extend-cards-control-panel-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
$extend-cards-font-weight: 200;
$extend-cards-label-background: rgb(120, 171, 240);
$extend-cards-label-color: #FFF;
$extend-cards-label-font-size: 10px;
$extend-cards-max-width: 300px;

/* ---------- Figures ---------- */

$figcaption-bg-color: #000;
$figcaption-color: #FFF;
$figcaption-font-size-lg: 1.25em;
$figcaption-font-size-sm: 0.85em;
$figcaption-font-size-xl: 1.5em;
$figcaption-font-size-xs: 0.7em;
$figcaption-font-weight: 300;
$figure-circle-border-radius: 50%;
$figure-rounded-border-radius: 10px;
$figure-square-border-radius: 0;