@import "mixins";

.app-view-taglib {
	.lfr-header-row-content {
		position: relative;

		.display-style {
			float: right;
		}

		.select-all-entries {
			left: 7px;
			position: absolute;
			top: 17px;
			z-index: 1;

			@include media-query(md) {
				top: 15px;
			}
		}
	}
}

.navbar {
	.nav-display-style-buttons {
		float: none;
		margin: 7.5px -15px;

		@include media-query(sm) {
			float: right;
			margin: 8px 0 8px 15px;
		}

		.display-style-buttons {
			> .dropdown {
				@include media-query(null, $screen-xs-max) {
					> .dropdown-menu {
						border-width: 0;
						display: block;
						float: none;
						margin-top: 0;
						position: static;
						width: auto;
					}

					> .dropdown-toggle {
						display: none;
					}
				}
			}
		}
	}
}