@import "bourbon";
@import "mixins";

.lfr-search-container {
	margin-top: 1.5em;
	overflow: auto;

	@include media-query(null, $screen-xs-max) {
		.selector-button {
			width: auto;
		}
	}

	.table {
		.text-bottom {
			vertical-align: bottom;
		}

		.text-middle {
			vertical-align: middle;
		}

		.text-top {
			vertical-align: top;
		}
	}
}

.touch .lfr-search-container {
	@include experimental(overflow-scrolling, touch);

	.searchcontainer-content .table {
		max-width: none;
	}
}

.taglib-search-iterator-page-iterator-top {
	margin-bottom: 15px;
}

.taglib-page-iterator {
	clear: both;
	height: auto;
	overflow: hidden;
	width: auto;

	.lfr-pagination-buttons {
		float: right;
		margin-top: 20px;
		width: 100%;

		@include media-query(md) {
			margin-bottom: 0;
			margin-top: 0;
			width: auto;
		}

		@include media-query(null, $screen-sm-max) {
			> li {
				display: inline-block;
				float: left;
				width: 50%;

				&.first, &.last {
					display: none;
				}

				> a {
					line-height: 20px;
					padding: 11px 19px;
					width: 50%;
				}
			}
		}
	}

	.lfr-pagination-config {
		float: none;
		line-height: 46px;

		@include media-query(sm) {
			float: left;
		}

		.current-page-menu {
			display: block;

			@include media-query(sm) {
				display: inline-block
			}
		}

		.lfr-pagination-page-selector {
			display: inline;
		}

		.lfr-pagination-delta-selector {
			display: none;

			@include media-query(md) {
				display: inline;
				float: none;
			}
		}
	}

	.search-results {
		display: none;
		float: left;
		line-height: 46px;
		margin-left: 10px;

		@include media-query(md) {
			display: inline;
		}
	}
}