img {
	&.label-icon {
		border-width: 0;
		float: left;
	}

	&.icon {
		border-width: 0;
		float: absmiddle;
	}
}

label.hidden-label {
	clip: rect(0 0 0 0);
	position: absolute;
}

td.stretch {
	width: 99%;
}

.nobr {
	white-space: nowrap;
}

.cke_toolbar {
	&.cke_toolbar__a11yhelpbtn {
		float: right;

		.cke_toolgroup {
			background: transparent;
			border: none;
			box-shadow: initial;
			margin-bottom: 0;
			margin-top: 5px;
		}

		.cke_button {
			.cke_button_icon {
				float: right;
				margin-left: 4px;
				width: 35px;
			}

			.cke_button_label {
				display: inline;
			}
		}
	}
}