.lfr-portlet-toolbar {
	margin-bottom: 5px;
	overflow: hidden;
	padding: 2px;

	.lfr-actions {
		.lfr-trigger strong {
			padding: 0;
		}

		&.show-arrow.direction-down.lfr-toolbar-button .lfr-trigger strong a {
			padding-bottom: 3px;
			padding-top: 4px;
			padding-right: 25px;
		}
	}

	.lfr-toolbar-button {
		a {
			border: 1px solid transparent;
			display: block;
			float: left;
			padding: 4px 14px 4px 29px;

			&:hover {
				border: 1px solid transparent;
				padding: 4px 14px 4px 29px;
			}
		}

		&.current a {
			border: 1px solid transparent;
		}
	}
}

.ie6 .lfr-portlet-toolbar {
	width: 100%;
}

/* Skin */

.lfr-portlet-toolbar {
	background: #F6F8FB;

	.lfr-actions.show-arrow.direction-down.lfr-toolbar-button .lfr-trigger strong a {
		background-position: 92% 7px;
	}

	.lfr-toolbar-button {
		a {
			background: url() no-repeat 5px 50%;
			border-color: #F6F8FB;
			font-size: 12px;
			font-weight: bold;
			text-decoration: none;

			&, span {
				color: #9EA8AD;
			}

			&:hover {
				background-color: #DFF4FF;
				border-color: #A7CEDF;

				&, span {
					color: #346799;
				}
			}
		}

		&.current a {
			background-color: #CFD5D7;
			border-color: #CFD5D7;

			&, span {
				color: #000;
			}

			&:hover {
				background-color: #D6DCDD;
				border-color: #B7C0C2;
			}
		}

		&.add-button a {
			background-image: url(@theme_image_path@/common/add.png);
		}

		&.add-template a {
			background-image: url(@theme_image_path@/common/add_template.png);
		}

		&.custom-attributes-button a {
			background-image: url(@theme_image_path@/common/attributes.png);
		}

		&.view-button a {
			background-image: url(@theme_image_path@/common/view_users.png);
		}

		&.export-button a {
			background-image: url(@theme_image_path@/common/export.png);
		}

		&.view-structures a {
			background-image: url(@theme_image_path@/common/view_structures.png);
		}

		&.view-templates a {
			background-image: url(@theme_image_path@/common/view_templates.png);
		}

		&.teams-button a {
			background-image: url(@theme_image_path@/common/team_icon.png);
		}

		&.membership-requests-button a {
			background-image: url(@theme_image_path@/common/manage_task.png);
		}
	}
}