@import "compass";

.portlet-journal-content {
	.journal-content-article {
		clear: right;

		&:after {
			clear: both;
			content: '';
			display: block;
			height: 0;
		}
	}

	.taglib-discussion {
		margin-top: 18px;
	}

	.taglib-ratings-wrapper {
		margin-top: 1em;
	}

	.tabview-list {
		margin: 18px 0;
	}

	.user-actions {
		padding-bottom: 2.5em;

		.export-actions, .print-action, .locale-actions {
			float: right;
		}

		.print-action {
			margin-left: 1em;
		}

		.locale-separator {
			border-right: 1px solid #CCC;
			float: right;
			margin-right: 1em;
			padding: 0.8em 0.5em;
		}
	}

	.portlet-borderless-container, .portlet-content {
		.lfr-icon-actions {
			.btn.dropdown-toggle {
				background-color: inherit;
			}

			.lfr-icon-action-add {
				font-size: 14px;
				vertical-align: inherit;

				a {
					background-image: url(@theme_image_path@/common/add_white.png);
					border: 0;
					padding: 0;
					vertical-align: inherit;
				}
			}
		}
	}
}

.aui .portlet-journal-content {
	.navbar {
		display: inline-block;
		margin-bottom: 0;
		margin-top: 20px;

		.nav > li > a {
			color: #FFF;
			padding: 0 10px;
			text-shadow: 0 0;

			&:hover {
				color: #FFF;

				.nav-item-label {
					text-decoration: underline;
				}
			}

			& .icon-caret-down {
				display: none;
			}

			.nav-item-label {
				display: none;
				max-width: 0;
			}

		}

		.nav li.dropdown.open > .dropdown-toggle {
			background-color: transparent;
			color: #FFF;
		}

		.navbar-inner {
			background-color: #333;
			background-image: none;
			border-radius: 20px;
			min-height: 0;
			padding: 0;
		}
	}
}

.portlet-journal-content .portlet-content {
	&:hover {
		.navbar-inner {
			@include single-transition(opacity, 0.5s, ease, 0s);

			@include opacity(1);
		}

		.navbar .nav > li > a .nav-item-label {
			@include single-transition(max-width, 0.3s, ease, 0s);

			display: inline-block;
			max-width: 200px;
		}
	}

	.navbar-inner {
		@include single-transition(opacity, 0.5s, ease, 0.15s);

		@include opacity(0.5);
	}

	.navbar .nav > li > a .nav-item-label {
		@include single-transition(max-width, 0.3s, ease-in, 0.2s);
	}
}

.portlet-configuration {
	.displaying-article-id.modified {
		color: #4DCF0C;
	}
}

.ie {
	.portlet-journal-content {
		.journal-content-article {
			zoom: 1;
		}
	}
}

.ie6 {
	.portlet-journal-content {
		.icons-container {
			height: 1%;
		}
	}
}