@import "compass";

body.dark {
	nav#navigation {
		.nav {
			li {
				&.dropdown {
					> .dropdown-toggle {
						.caret {
							border-bottom-color: #FFF;
							border-top-color: #FFF;
						}
					}

					&.open {
						> .dropdown-toggle {
							background: #00ACFF;
						}
					}
				}

				&.open {
					> a {
						background: #00CAFF;
						color: #FFF;
					}
				}
			}

			li.dropdown.hover.open {
				.dropdown-menu {
					background: #00ACFF;
					border: 0;
					margin: 0;
				}

				.dropdown-menu:after {
					border: 0;
				}

				.dropdown-menu:before {
					border: 0;
				}
			}

			> .active > a {
				background: #00ACFF;
			}
		}

		.navbar-inner {
			background: #555;
			border: 0;

			li a {
				color: #FFF;

				&:hover {
					background: #00ACFF;
				}
			}
		}
	}

	.modify-pages .delete-tab {
		color: #FFF;

		&:hover {
			color: #B50303;
		}
	}

	/* Extras */

	nav#navigation {
		.nav {
			li {
				&.open {
					> a {
						@include box-shadow(none);
					}
				}
			}

			li.dropdown.hover.open {
				.dropdown-menu {
					@include border-radius(0);
				}
			}

			> .active > a {
				@include box-shadow(none);
			}
		}

		.navbar-inner {
			@include box-shadow(none);
			@include border-radius(0);

			li a {
				@include text-shadow(none);
			}
		}
	}

	.modify-pages .delete-tab {
		@include text-shadow(none);
	}
}