@import "compass";

body.darker {
	background: #363636;
	color: #E3E3E3;
	font-weight: lighter;

	a {
		color: #009CEB;
		@include text-shadow(none);
	}

	nav#breadcrumbs {
		padding-left: 10px;
	}

	nav#navigation {
		.navbar-inner {
			background: #2F2F2F;
			border: 0;
			@include box-shadow(none);

			ul.nav {
				> li {
					margin-right: 5px;

					a {
						color: #E3E3E3;
					}
				}

				li {
					padding: 8px 0;

					&.open {
						> .dropdown-toggle {
							background: #00CAFF;
							color: #FFF;
							@include border-radius(3px);
							@include text-shadow(none);
						}
					}

					a {
						@include text-shadow(none);
					}
				}

				li.active {
					> a {
						background: #00CAFF;
						color: #FFF;
						@include border-radius(3px);
						@include box-shadow(none);
						@include text-shadow(none);
					}
				}
			}
		}
	}

	.breadcrumb {
		background: transparent;

		li a {
			color: #E3E3E3;
		}
	}

	.lfr-header-row-content {
		padding: 3px 0 0;
	}
	/* Portlet */

	section.portlet {
		background: #363636;
		margin-bottom: 50px;

		.admin.portlet-topper-toolbar {
			> div {
				display: none;
			}

			> span {
				display: none;
			}
		}

		.admin.portlet-topper-toolbar:before {
			background: #00CBFF;
			border-radius: 2px;
			content: "•••";
			padding: 4px 4px 5px;
		}

		.admin.portlet-topper-toolbar {
			font-size: 0.5em;
		}
	}

	section.portlet.active {
		border: 1px solid #00CBFF;
		@include border-radius(4px);

		.admin.portlet-topper-toolbar {
			> div {
				display: inline-block;
			}

			> span {
				display: inline-block;
			}
		}

		.portlet-topper-toolbar:before {
			background: transparent;
			content: " ";
		}
	}

	.portlet-asset-publisher .lfr-meta-actions {
		margin-right: 0;
	}

	.portlet-content {
		border: 0;
	}

	.portlet-title {
		color: #00CAFF;
		font-weight: lighter;
	}

	.portlet-topper {
		background: transparent;
	}
}