@import "mixins";

.portlet-currency-converter {
	.conversion-data {
		.conversion-header {
			margin-bottom: 20px;

			.conversion-value {
				background-color: #F9F9F9;
				border: 1px solid #DDD;
				text-align: center;

				.currency-header {
					display: block;
					font-weight: bold;
				}
			}
		}

		.conversion-graph .currency-graph {
			border: 1px solid #DDD;
			padding: 5px;
		}
	}

	.form {
		input[type="text"] {
			margin-bottom: 0;
		}

		@include respond-to(phone) {
			.btn {
				margin-bottom: 10px;
			}
		}
	}
}