@import "compass";
@import "mixins";

.aui {
	.button-holder-btn.btn {
		display: none;
	}

	.button-holder-collapse .btn {
		margin-bottom: 3px;
	}

	@include respond-to(phone, tablet) {
		.btn-group, .button-holder {
			@include respond-to(phone) {
				display: block;
				width: 100%;
			}

			> .btn + .dropdown-toggle {
				padding-left: 12px;
				padding-right: 12px;
			}
		}

		.btn {
			font-size: 17.5px;
			padding: 11px 19px;

			.caret {
				border-left-width: 5px;
				border-right-width: 5px;
				border-top-width: 5px;
				margin-top: 9px;
			}

			[class^="icon-"], [class*=" icon-"] {
				margin-top: 4px;
			}

			@include respond-to(phone) {
				@include box-sizing(border-box);

				display: block;
				margin-top: 5px;
				width: 100%;
			}
		}

		.form-search .input-append .btn {
			display: inline-block;
			padding: 5px 19px 6px;

			@include respond-to(phone) {
				margin-top: 0;
				width: auto;
			}
		}

		.dropup .btn .caret {
			border-bottom-width: 5px;
		}

		.button-holder-btn.btn {
			display: inline-block;
			margin-bottom: 10px;
			width: 100%;

			&.open {
				background-color: #444;
				background-image: none;
				border-color: #444;

				@include border-radius(2px 2px 0 0);

				color: #EEE;
				margin-bottom: 0;

				@include text-shadow(none);
			}
		}

		.button-holder-collapse {
			overflow: hidden;
			height: 0;

			&.open {
				height: auto;
				margin: -1px 0 10px;
				overflow: visible;
			}

			.btn {
				@include border-radius(0);

				display: block;
				float: none;
				margin-bottom: -1px;
				margin-top: 0;
				text-align: left;
				width: 100%;

				&:last-child {
					@include border-radius(0 0 2px 2px);

					margin-bottom: 0;
				}
			}
		}

		button.close, button.btn.close {
			font-size: 2em;
			width: auto;
		}

		@media (max-width: 480px) {
			.modal-header button.close {
				padding: 12px;
			}
		}
	}
}