.btn.modify-link {
	a {
		color: #333;
		text-decoration: none;

		&:hover {
			color: #333;
		}

		i, .taglib-text {
			text-decoration: none;
		}
	}
}

.taglib-icon {
	text-decoration:none;

	.taglib-text {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}