@import "compass";
@import "mixins";

@include respond-to(tablet, phone) {
	.navbar {
		&.open .nav-collapse {
			height: auto;
		}

		.container {
			position: relative;

			.btn-navbar {
				margin-bottom: 5px;
			}

			.navbar-search {
				position: absolute;
				top: 0;

				@include respond-to(phone) {
					.btn, .btn-link {
						display: none;
					}

					.search-query {
						@include border-radius(14px);

						max-width: 150px;
					}
				}
			}
		}
	}
}