@import "compass";

.portlet-polls-display .no-progress .aui-progress-bar-status {
	display: none;
}

/* ---------- Extras ---------- */

.portlet-polls-display .no-progress {
	@include opacity(0.4);
}