@import "compass";

.portlet-staging-bar {
	button.history {
		float: right;
	}

	button.mark-as-ready {
		float: left;
	}

	.button-holder {
		margin: 20px 0 10px;
	}

	.layout-actions {
		float: right;
	}

	.layout-revision-toolbar {
		float: left;
		width: 100%;
	}

	.status-message {
		float: left;
		font-size: 11px;
		line-height: 20px;
	}

	.toolbar-spacer {
		display: none;
	}
}