@import "compass";

$disabled-background-color: #EEEEEE;
$disabled-text-color: #888888;

@mixin css3-button-default {
	@include button-default;
	@include appearance(none);
	@include border-radius(4px);
	@include box-sizing(border-box);
	@include background-clip(padding-box);
	@include background-image(linear-gradient(#FFFFFF, #DDDDDD));
	font: bold 12px/1.3 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
	outline: 0;
	margin: 0;
	text-shadow: white 0 1px 1px;
	vertical-align: top;
}

@mixin button-active {
	@include background-image(linear-gradient(#FFFFFF, #DDDDDD 1px, #EEEEEE));
	@include box-shadow(inset rgba(0, 0, 0, 0.25) 0 1px 2px 0);
	border-color: #999999 #BBBBBB #DDDDDD;
}

@mixin button-default {
	background: #DDDDDD url('../images/portlet/button.png') repeat-x;
	border: 1px solid;
	border-color: #DDDDDD #BBBBBB #999999;
	cursor: pointer;
	color: #333333;
	overflow: visible;
	width: auto;
}

@mixin button-disabled {
	@include box-shadow(none);
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	color: $disabled-text-color;
	cursor: default;
}

@mixin button-hover {
	@include background-image(linear-gradient(#FFFFFF, #EEEEEE 1px, #CCCCCC));
}

@mixin moz-focus-inner {
	border: 0;
	padding: 0;
}

@mixin text-field-default {
	background-color: #FFF;
	border: 1px solid;
	border-color: #848484 #C1C1C1 #E1E1E1;
	color: #000;
	font-size: 13px;
	vertical-align: top; 
}

input[type="search"]::-webkit-search-decoration {
	display: none;
}

input, button, select, textarea {
	&:invalid, &.aui-form-validator-error {
		@include box-shadow(none);
	}

	&:focus {
		@include box-shadow(#0066FF 0 0 5px 0);
		z-index: 1;
	}
}

.aui-field-focused {
	@include box-shadow(#0066FF 0 0 5px 0);
	z-index: 1;
}


input[type="file"], input[type="radio"], input[type="checkbox"] {
	&:active, &:focus {
		@include box-shadow(none);
	}
}

button, input[type="reset"], input[type="submit"], input[type="button"] {
	@include css3-button-default;
	padding: 3px 10px;

	&:hover {
		@include button-hover;
	}

	&:active {
		@include button-active;
	}

	&::-moz-focus-inner {
		@include moz-focus-inner;
	}
}

.lfr-actions.lfr-extended {
	&, ul {
		@include css3-button-default;

		&:hover {
			@include button-hover;
		}

		&:active {
			@include button-active;
		}

		&::-moz-focus-inner {
			@include moz-focus-inner;
		}
	}

	&.disabled, &.disabled:hover {
		&, ul {
			@include button-disabled;
		}
	}
}

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], .textarea, .aui-field-input-text {
	@include text-field-default;
	@include box-sizing(border-box);
	@include background-clip(padding-box);
	@include border-radius(0);
	@include appearance(none);
	outline: 0;
	margin: 0;
	padding: 2px 3px;
	text-align: left;
	font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
	height: 1.8em;

	&.disabled, &[disabled] {
		background-color: $disabled-background-color;
	}
}

button[disabled], input[disabled], select[disabled], select[disabled] option, select[disabled] optgroup, textarea[disabled], .aui-button-disabled, .aui-buttonitem-disabled {
	@include button-disabled;
}

input, textarea {
	&::-webkit-input-placeholder {
		color: $disabled-text-color;
	}

	&:-moz-placeholder {
		color: $disabled-text-color;
	}

	&.placeholder_text {
		color: $disabled-text-color;
	}
}

.aui-text-placeholder {
	color: $disabled-text-color;
}

textarea, select[size], select[multiple] {
	height: auto;
}

select[size="0"], select[size="1"] {
	height: 1.8em;
}

textarea {
	min-height: 40px;
	overflow: auto;
	resize: vertical;
	width: 100%;
}

optgroup {
	color: #000;
	font-style: normal;
	font-weight: normal;
	font-family: Arial, "Liberation Sans", FreeSans, sans-serif;

	&::-moz-focus-inner {
		@include moz-focus-inner;
	}
}

fieldset {
	border: 1px solid #BFBFBF;
	padding: 8px;
}

input[type="image"] {
	background: transparent none;
	border: none;
	padding: 0;
}

legend {
	font-weight: bold;
	padding: 0 6px;
}

.aui-dialog-iframe-popup .aui-fieldset {
	margin-bottom: 0;
}

.aui-fieldset {
	border-width: 0;
	padding: 0;
	position: relative;
}

.aui-fieldset-legend {
	color: #000;
	font-size: 120%;
	font-weight: bold;
	padding: 0 0 1.5em;
}

.aui-fieldset .aui-field-content, .aui-field-row, .aui-button-holder, .aui-field-wrapper-content {
	margin: 10px 0;
}

.aui-field-choice .aui-field-label {
	display: inline-block;
}

.aui-field-date .aui-field-content {
	overflow: hidden;
}

.aui-field-inline, .aui-field-row {
	.aui-field-content {
		margin: 0;
		margin-right: 5px;
	}
}

.aui-legend {
	border-bottom: 1px solid #CCC;
	display: block;
	position: absolute;
	width: 90%;
}

.aui-search-bar {
	.aui-field-content {
		margin-right: 0;
	}

	.aui-field-content, .aui-button-content {
		display: inline-block;
		vertical-align: middle;
	}
}

.ie6, .ie7 {
	button {
		@include button-default;
		font: bold 12px/1.2 Arial, sans-serif;
		padding: 2px 10px 0px;
	}
}

.ie6 {
	input {
		@include text-field-default;
		padding: 2px 3px 1px;
		font-family: Arial, sans-serif;

		&.disabled, .disabled {
			background: $disabled-background-color;
		}
	}

	input, button {
		.disabled {
			color: $disabled-text-color;
		}
	}
}

.ie7 {
	button {
		padding-top: 1px;
		padding-bottom: 1px;
	}

	select {
		margin-top: 1px;
	}

	button, input[type="reset"], input[type="submit"], input[type="button"] {
		padding-top: 2px;
		padding-bottom: 0;
	}

	textarea, select {
		@include text-field-default;
		padding-left: 1px;
		padding-right: 3px;
		font-family: Arial, sans-serif;
	}

	textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
		padding-top: 2px;
		padding-bottom: 1px;
		height: auto;
	}

	select[size="0"], select[size="1"] {
		height: auto;
	}
}

.webkit {
	select[size], select[multiple], select[multiple][size] {
		background-image: none;
		padding-right: 3px;
	}

	select, select[size="0"], select[size="1"] {
		background-image: url('../images/portlet/select_arrow.gif');
		background-repeat: no-repeat;
		background-position: right center;
		padding-right: 20px;
	}

	::-webkit-validation-bubble-message {
		@include box-shadow(none);
		@include background-image(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, #000));
		border: 1px solid;
		border-color: #747474 #5E5E5E #4F4F4F;
		color: #FFF;
		font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
		overflow: hidden;
		padding: 15px 15px 17px;
		text-shadow: #000 0 0 1px;
		height: 16px;
	}

	::-webkit-validation-bubble-arrow, ::-webkit-validation-bubble-top-outer-arrow, ::-webkit-validation-bubble-top-inner-arrow {
		@include box-shadow(none);
		background: #666666;
		border: 0;
	}
}