#parse($init)

<!doctype html>
<html dir="$w3c_dir" lang="$w3c_language_id">
	<head>
		<meta name="description", content="$site_description">
		<meta name="viewport", content="width=device-width">
		<meta property="og:title", content="$site_name">
		<meta property="og:type", content="website">
		<meta property="og:url", content="$site_default_url">
		<meta property="og:image", content="$site_logo">

		<link rel="apple-touch-icon-precomposed", href="$images_folder/image-icon.png">
		<link rel="shortcut icon", href="$images_folder/favicon.ico">
		<link rel="stylesheet", href="$css_folder/main.css">

		<style></style>

		<script src="$javascript_folder/script.js"></script>

		$theme.include($top_head_include)

		<title>$the_title - $company_name</title>
	</head>

	<body>
		$theme.include($body_top_include)

		<a href="#main" class="site-skip">#language('skip-to-content')</a>

		#if ($is_signed_in)
			#dockbar()
		#end

		<header role="banner" class="site-header">
			<nav role="navigation" id="navigation" class="site-navigation">
				<form method="get" action="$searchURL" class="search">
					<input type="search" placeholder="#language('search-the-site')" name="q"> <button type="submit">#language('search')</button>
				</form>

				<a href="#navigation" class="expand" onclick="location.hash=='#navigation'?history.back():null;"></a>

				<ul>
					#foreach ($nav_item in $nav_items)
						<li>
							<a href="$nav_item.getURL()">$nav_item.getName()</a>
						</li>
					#end
				</ul>
			</nav>

			<a href="$site_default_url" title="#language('go-to') $site_name" class="site-logo"><h1>
				 <img src="$site_logo" alt="$site_name">
			</h1></a>

			<nav class="site-breadcrumb">
				<ul>
					#foreach ($breacrumb_item in $breacrumb_items)
						<li>
							<a href="$breacrumb_item.getURL()">$breacrumb_item.getName()</a>
						</li>
					#end
				</ul>
			</nav>

			#breadcrumbs()
		</header>

		<div role="main" id="main" class="site-main">
			$theme.include($content_include)
		</div>

		<footer role="contentinfo" class="site-footer">
			<p>
				#language('powered-by') <a href="//www.liferay.com" rel="external">Liferay</a>.
			</p>
		</footer>
	</body>
</html>