@import "compass";
@import url(../../classic/css/custom_common.css);

.aui {
	#banner, .lfr-ctrl-panel .user-greeting {
		position: absolute;
		clip: rect(0 0 0 0);
	}

	#wrapper {
		padding-top: 1.5em;
	}

	.dockbar {
		position: relative;

		&:after {
			background-color: #333;
			bottom: -10px;
			content: '';
			display: block;
			height: 10px;
			left: 0;
			position: absolute;
			right: 0;
			z-index: -1;
		}

		.navbar-inner {
			background-color: #006dcc;
			background-color: #067BEC;
			background-image: -moz-linear-gradient(top, #00A0F0, #067BEC);
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00A0F0), to(#067BEC));
			background-image: -webkit-linear-gradient(top, #00A0F0, #067BEC);
			background-image: -o-linear-gradient(top, #00A0F0, #067BEC);
			background-image: linear-gradient(to bottom, #00A0F0, #067BEC);
			background-repeat: repeat-x;
			border-bottom: 0;
			border-color: #067BEC #067BEC #002a80;
			border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00A0F0', endColorstr='#ff067BEC', GradientType=0);
			filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
			color: #ffffff;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

			ul.nav-add-controls {
				margin: 8px 0 0;

				>li a {
					padding-bottom: 0;
					padding-top: 0;

					&:hover {
						background: #008BE4;
						@include border-radius(4px);
					}
				}

				>li.active a {
					border-radius: 4px;

					&:hover {
						background: #005BA7;
						color: #FFF;
					}
				}

				li {
					margin-right: 5px;
				}
			}
		}
	}

	.portlet-title, .portlet-content {
		padding: 0;
	}

	.portlet-title {
		margin-top: 0;
	}

	.panel-manage-frontpage {
		#controlPanelSiteHeading {
			padding-top: 10px;
			position: relative;
			z-index: 10;

			.control-panel-back-link {
				display: inline-block;
				line-height: 0;
				text-decoration: none;
				vertical-align: middle;

				.control-panel-back-text {
					display: none;
				}
			}

			.site-title {
				color: #555;
				display: inline-block;
				font-weight: normal;
				margin: 0;
				vertical-align: middle;
			}

			.visit-links {
				color: #8D8D8D;
				font-size: 12px;
				list-style: none;
				margin: 0;
				padding-bottom: 10px;
				padding-left: 20px;

				li {
					display: inline-block;
					margin-left: 0;
					margin-right: 5px;
				}
			}
		}
	}

	.panel-page-menu .portlet-borderless-container {
		background: #222;

		.accordion {
			background: #FFF;
			margin-bottom: 0;

			.accordion-group {
				background: #FFF;
				border-width: 1px 0 0;
				margin-bottom: 0;

				.accordion-inner {
					padding-left: 0;
					padding-right: 0;
				}

				.category-portlets {
					list-style: none;
					margin: 0;

					li {
						a {
							display: block;
							padding: 3px 15px;

							&:focus, &:hover {
								background-color: #F3F3F3;
							}
						}

						&.selected-portlet {
							background: #222;
							color: #FFF;

							a {
								color: #FFF;

								&:hover{
									background: #222;
									color: #3EA9DB;
								}
							}
						}
					}
				}
			}
		}
	}

	.search-panels {
		position: relative;

		.cancel-search {
			display: none;
			margin-top: -7px;
			position: absolute;
			right: 5px;
			top: 50%;

			.search-panel-active & {
				display: inline-block;
			}
		}
	}

	.lfr-control-panel-help-content.alert {
		border-width: 1px 0;
		margin-bottom: 1em;
	}

	/* ---------- Extras ---------- */

	.dockbar:after {
		$stripe: transparent;
		$stripe_alt: #C2B362;

		background-image: linear-gradient(
			45deg,
			$stripe 25%,
			$stripe_alt 25%,
			$stripe_alt 50%,
			$stripe 50%,
			$stripe 75%,
			$stripe_alt 75%
		);

		background-size: 35px 35px;
	}

	.panel-page-menu .portlet-borderless-container {
		border-radius: 2px;
		box-shadow: 0 0 3px #000 inset;

		.accordion .accordion-group {
			border-radius: 0;

			.accordion-heading {
				&.toggler-header-collapsed, &.toggler-header-expanded {
					border-radius: 0;
				}
			}
		}

		.search-panels-input {
			border-radius: 2px;
		}
	}

	.lfr-control-panel-help-content {
		border-radius: 0;
	}

	.control-panel-bar-main {
		font-size: 1.2em;
		font-weight: bold;
		margin-bottom: 5px;
	}

	.control-panel-bar-secondary {
		margin-bottom: 5px;
	}

	.control-panel-home-actions {
		margin-top: 100px;
	}

	.control-panel-home-actions .control-panel-home-actions-category {
	    border-top: solid 1px #009ec3;
		padding-top: 10px;
	}

    .control-panel-home-category-header {
	    border-bottom: solid 1px #009ec3;
	    color: #009ec3;
	    margin-bottom: 30px;
    }

	.control-panel-home-menu {
		margin-top: 40px;
	}

	.control-panel-home-menu li {
		list-style: none;
		margin-bottom: 15px;
	}

	.control-panel-site-selector .caret {
		border-width: 6px;
		margin-top: 5px;
		vertical-align: middle;
	}
}