@import "compass";
@import url(../../classic/css/custom_common.css);

$dockbarGradientStart: #0A85E4;
$dockbarGradientEnd: #0A6BCA;

.aui {
	#banner, .lfr-ctrl-panel .user-greeting {
		position: absolute;
		clip: rect(0 0 0 0);
	}

	#wrapper {
		padding-top: 1.5em;
	}

	.button-holder, .control-panel-home-actions-category {
		.btn {
			@include box-shadow(0 1px 0 1px #AAA);
		}

		.btn-primary {
			background: #00AEFF;
			@include box-shadow(0 1px 0 1px #007CE9);
		}
	}

	/* Control Panel Secondary Nav */

	.control-panel-bar-secondary.nav-pills {
		li {
			margin-right: 20px;

			a {
				margin: 0;
				padding: 10px 10px 11px;
				@include border-radius(4px);

				&:hover {
					background: #E5F5FC;
					color: #009AE5;
				}
			}
		}

		> .active > a {
			background: #00ACFF;

			&:hover {
				background: #00ACFF;
			}
		}
	}

	/* Control Panel Home */

	.control-panel-home-menu {
		margin-top: 40px;

		a {
			color: #00ACFF;

			&:active {
				color: #009AE5;
			}

			&:hover {
				color: #009AE5;
				text-decoration: underline;
			}
		}

		ul {
			li {
				list-style: none;
				margin-bottom: 15px;

				img.icon {
					display: none;
				}
			}
		}

		.control-panel-bar-main {
			font-size: 1.2em;
			font-weight: bold;
			margin-bottom: 5px;
		}

		.control-panel-bar-secondary {
			margin-bottom: 5px;
		}

		.control-panel-home-actions {
			margin-top: 100px;

			.control-panel-home-actions-category {
				color: #8D8D8D;
				padding-top: 10px;
			}
		}

		.control-panel-home-category-header {
			border-bottom: 1px solid #D4D4D4;
			color: #00ACFF;
		}
	}

	/* Dockbar */

	.dockbar {
		border-top: 1px solid #00AEFF;
		position: relative;

		.navbar-inner {
			background-color: $dockbarGradientEnd;
			@include background-image(linear-gradient(top, $dockbarGradientStart 0%,$dockbarGradientEnd 100%));
			@include filter-gradient($dockbarGradientStart, $dockbarGradientStart, vertical);
			color: #FFF;

			ul.nav-add-controls {
				margin: 8px 0 0;

				>li a {
					padding-bottom: 0;
					padding-top: 0;

					&:hover {
						background: #008BE4;
						@include border-radius(4px);
					}
				}

				>li.active a {
					border-radius: 4px;

					&:hover {
						background: #005BA7;
						color: #FFF;
					}
				}

				li {
					margin-right: 5px;
				}
			}
		}
	}

	.lfr-control-panel-help-content.alert {
		border-width: 1px 0;
		margin-bottom: 1em;
	}

	.lfr-ctrl-panel {

	}

	.portlet-title, .portlet-content {
		padding: 0;
	}

	.portlet-title {
		margin-top: 0;
	}

	.panel-manage-frontpage {
		#controlPanelSiteHeading {
			padding-top: 10px;
			position: relative;
			z-index: 10;

			.control-panel-back-link {
				display: inline-block;
				line-height: 0;
				text-decoration: none;
				vertical-align: middle;

				.control-panel-back-text {
					display: none;
				}
			}

			.site-title {
				color: #555;
				display: inline-block;
				font-weight: normal;
				margin: 0;
				vertical-align: middle;
			}

			.visit-links {
				color: #8D8D8D;
				font-size: 12px;
				list-style: none;
				margin: 0;
				padding-bottom: 10px;
				padding-left: 20px;

				li {
					display: inline-block;
					margin-left: 0;
					margin-right: 5px;
				}
			}
		}
	}

	/* Panel Page Menu */

	.control-panel-tools {
		.search-panels {
			.control-group {
				margin: 0 10px 11px;
			}
		}
	}

	.panel-page-menu .portlet-borderless-container {
		.accordion {
			background: #FFF;
			margin-bottom: 0;

			.accordion-group {
				background: #FFF;
				border-width: 1px 0 0;
				margin-bottom: 0;

				.accordion-inner {
					padding: 3px 0;
				}

				.accordion-toggle {
					font-size: 16px;
					font-weight: normal;
					padding: 0;
					text-transform: capitalize;
				}

				.category-portlets {
					list-style: none;
					margin: 0;

					li {
						a {
							display: block;
							font-size: 14px;
							padding: 3px 15px;
							text-decoration: none;

							&:focus, &:hover {
								background: #E5F5FC;
								color: #009AE5;
							}
						}

						&.selected-portlet {
							a {
								background: #60BFEF;
								color: #FFF;
							}
						}
					}
				}

				.toggler-header {
					background: #F2F2F2;
					padding: 8px 10px;
				}

				.toggler-header-collapsed {
					.accordion-toggle {
						background: url(../images/custom/arrow_option_closed.png) no-repeat right center transparent;
					}
				}

				.toggler-header-expanded {
					.accordion-toggle {
						background: url(../images/custom/arrow_option_open.png) no-repeat right center transparent;
					}
				}
			}
		}
	}

	.search-panels {
		position: relative;

		.cancel-search {
			display: none;
			margin-top: -7px;
			position: absolute;
			right: 5px;
			top: 50%;

			.search-panel-active & {
				display: inline-block;
			}
		}
	}

	/* ---------- Extras ---------- */

	.panel-page-menu .portlet-borderless-container {
		.accordion .accordion-group {
			border-radius: 0;

			.accordion-heading {
				&.toggler-header-collapsed, &.toggler-header-expanded {
					border-radius: 0;
				}
			}
		}

		.search-panels-input {
			border-radius: 2px;
		}
	}

	.lfr-control-panel-help-content {
		@include border-radius(0);
	}

	.control-panel-site-selector .caret {
		border-width: 6px;
		margin-top: 5px;
		vertical-align: middle;
	}
}