@import "bourbon";
@import "mixins";

/* ---------- Breadcrumb taglib ---------- */

.breadcrumb.breadcrumb-vertical {
	display: inline-block;
	text-align: center;

	li {
		display: block;

		&.last, &.only {
			background: none;
		}
	}

	.divider {
		background: url(@theme_image_path@/arrows/07_down.png) no-repeat 50% 100%;
		display: block;

		@include hide-text();

		height: 10px;
	}
}