@import "bourbon";

/* ---------- Dynamic data list display/Journal portlet ---------- */

.portlet-dynamic-data-list-display, .portlet-dynamic-data-lists, .portlet-journal .journal-article-container {
	.lfr-ddm-container .field-wrapper {
		&[data-repeatable="true"], .field-wrapper {
			border: 1px solid #D0D0D0;
			border-left-width: 10px;
			padding: 7px 10px 10px;

			&[data-repeatable="true"]:nth-of-type(even) {
				background-color: #F5F5F5;
			}

			&, .field-wrapper {
				margin: 15px 0 0;
			}
		}
	}
}