@import "bourbon";

/* ---------- Navbar form search ---------- */

.navbar form {
	margin: 0;
}

.ie {
	.portlet-borderless-bar {
		opacity: 0.5;
	}

	.portlet-content {
		.lfr-icon-actions {
			opacity: 0.5;
		}
	}

	.portlet-borderless-container:hover .portlet-borderless-bar, .portlet-journal-content .lfr-icon-actions:hover {
		opacity: 1;
	}

	.taglib-calendar tr td.first a {
		border-right-width: 0;
	}
}

.ie6, .ie7 {
	.portlet-content {
		.icons-container {
			overflow: visible;
		}

		.lfr-icon-actions .taglib-text {
			display: inline-block;
		}
	}

	.portlet-borderless-bar .portlet-actions {
		margin-left: 20px;
		margin-right: 0;
	}

	.portlet-title-default {
		float: left;
	}

	.lfr-message .lfr-message-close {
		float: left;
	}
}

.ie6 {
	.portlet-topper-toolbar .icon {
		height: 16px;
		width: 16px;
	}

	.portlet-borderless-container {
		height: 2.5em;
	}

	.portlet-borderless-bar {
		filter: alpha(opacity=90);

		.portlet-actions {
			display: inline;
			filter: alpha(opacity=90);
		}
	}

	.breadcrumbs {
		zoom: 1;
	}
}

.ie8 {
	.dockbar, .logo {
		img {
			max-width: none;
		}
	}
}