/* Base */

html { font-family: sans-serif; font-size: 16px; line-height: 1; }
html { background: #F7F7F7; color: #333; }

p { line-height: 1.25; }

* { font-family: inherit; font-size: inherit; }

/* Alignment */

/* Skip to Content */

.site-skip { clip: rect(0 0 0 0); outline: 0; position: absolute; }
.site-skip:focus { clip: auto; display: block; padding: 0.5em; position: static; }
.site-skip { background: #09F; box-shadow: 0 0 4px 1px #000; color: #FFF; text-shadow: 0 -1px rgba(0,0,0,0.15); }

/* Navigation */

.site-navigation { padding: 0.5em 0.25em 0; position: relative; }
.site-navigation { background: #3D3E40; background-image: -moz-linear-gradient(#575959, #3D3E40); background-image: -o-linear-gradient(#575959, #3D3E40); background-image: -webkit-linear-gradient(#575959, #3D3E40); linear-gradient(#575959, #3D3E40); color: #EEE; }

.site-navigation ul, .site-breadcrumb ul { font-size: 0; list-style: none; }
.site-navigation li, .site-breadcrumb li { display: inline-block; font-size: 16px; }

.site-navigation a { display: block; margin: 0 0.25em 0.5em; padding: 0.5em 1.25em; text-decoration: none; vertical-align: top; }
.site-navigation a { border-radius: 0.5em; color: inherit; outline: 0; }
.site-navigation a:focus, .site-navigation a:hover { background: #333; box-shadow: inset 0 0.375em 1em rgba(0,0,0,0.5); color: #FFF; }

.site-navigation .expand { display: none; height: 1em; width: 0.25em; }
.site-navigation .expand:after { border-radius: 0.25em; -webkit-box-shadow: 0 1em #EEE, 0 1.5em #EEE, 0 2em #EEE; box-shadow: 0 1em, 0 1.5em, 0 2em; content: ""; height: 0.25em; position: absolute; right: 0.625em; top: -0.625em; width: 1.5em; }

.site-navigation .search { float: right; margin: 0 0.25em; position: relative; }

.site-navigation .search input { -webkit-appearance: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; height: 2em; line-height: 1; min-width: 20em; outline: 0; padding: 0.125em 0 0 0.5em; width: 100%; }
.site-navigation .search input { background: #CFCFCF; border: 0; border-radius: 0.5em; box-shadow: inset 0 0.25em 0.5em 0 rgba(0,0,0,0.25); color: #000; }
.site-navigation .search input:focus, .site-navigation .search:hover input { background: #FFF; }

.site-navigation .search button { border: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border-left: 1px solid; bottom: 0; font-weight: bold; margin: 0; padding: 0 1em; position: absolute; right: 0; top: 0; }
html[dir=rtl] .site-navigation .search button { left: 0; right: auto; }
.site-navigation .search button { background: #E5E5E5; border-color: #AAA; border-radius: 0 0.5em 0.5em 0; box-shadow: inset -1px 0 1em rgba(0,0,0,0.5); color: #444; }
html[dir=rtl] .site-navigation .search button { border-radius: 0.5em 0 0 0.5em; }
.site-navigation .search button:focus, .site-navigation .search button:hover { background: #EEE; color: #000; }

.site-navigation ::-webkit-input-placeholder { color: #AAA; }
.site-navigation :-moz-placeholder { color: #AAA; }

/* Logo */

.site-logo { display: block; margin: 1em 0.5em; }
.site-logo img { max-height: 5em; max-width: 100%; }

@media (max-width: 40em) {
	.site-navigation { padding-bottom: 0.5em; }

	.site-navigation ul { display: none; }
	.site-navigation .expand { display: block; position: absolute; right: 0.25em; top: 0.5em; }

	.site-navigation .search { display: block; float: none; margin-right: 3.5em; }
	.site-navigation .search input { min-width: 14em; }

	.site-navigation:target { padding-bottom: 0.5em; }
	.site-navigation:target ul, .site-navigation:target li { display: block; }
	.site-navigation:target .search { margin-bottom: 0.75em; }
}

.site-breadcrumb { margin: 0 0.5em 1em; }
.site-breadcrumb { background: #FFF; border: 1px solid #BBB; border-radius: 6px; color: #656565; }

.site-breadcrumb a { display: block; padding: 0.375em 1em; position: relative; }
.site-breadcrumb a:focus, .site-breadcrumb a:hover { color: #000; }

.site-breadcrumb a:after { border: 0 solid #CCC; border-width: 0 1px 1px 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; content: ""; display: block; height: 1.25em; position: absolute; -moz-transform: scaleX(0.75) rotate(-45deg); -webkit-transform: scaleX(0.75) rotate(-45deg); width: 1.25em; right: -0.25em; top: 0.25em; }

.site-breadcrumb li:last-child a:after { clip: rect(0 0 0 0); }

/* Portlet */

.portlet-border { border: 1px solid #CCC; padding: 0.25em; }
.portlet-border { border-radius: 0.25em; }

.portlet-title { border: 1px solid; font-weight: bold; margin: 0 0 0.75em; padding: 0.5em; }
.portlet-title { background-image: -moz-linear-gradient(#FAFAFA, #DDD);background-image: -webkit-linear-gradient(#FAFAFA, #DDD); border-color: #C8C9CA #9E9E9E #9E9E9E #C8C9CA; border-radius: 4px; text-shadow: 1px 1px #FFF; }

.portlet-content { margin: 0.25em; }

/* Layout */

.stack, .panel { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.stack { font-size: 0; }
.panel { display: inline-block; font-size: 16px; padding: 0 0.5em 1em; vertical-align: top; }

.p1 { width: 25%; } .p2 { width: 75%; }

@media (max-width: 35em) {
	.p1, .p2 { margin: 0 0 1em; width: 100%; }
}

/* Footer */

.site-footer { color: #888; font-size: 12px; margin: 0 1.25em 1.25em; text-align: right; }